@font-face {
    font-family: "DrukText-Bold-Trial";
    src: url("../font/Druk_Text_Family/DrukText-Bold-Trial.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "DrukText-SuperItalic-Trial";
    src: url("../font/Druk_Text_Family/DrukText-SuperItalic-Trial.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "DrukText-Heavy-Trial";
    src: url("../font/Druk_Text_Family/DrukText-Heavy-Trial.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}