@font-face {
  font-family: "DrukText-Bold-Trial";
  src: url("../font/Druk_Text_Family/DrukText-Bold-Trial.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DrukText-SuperItalic-Trial";
  src: url("../font/Druk_Text_Family/DrukText-SuperItalic-Trial.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DrukText-Heavy-Trial";
  src: url("../font/Druk_Text_Family/DrukText-Heavy-Trial.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.d-none {
  display: none !important;
}

.title-text {
  font-size: 4.167rem;
  font-size: clamp(4.167rem, 2.7754rem + 6.958vw, 11.125rem);
  font-family: "DrukText-SuperItalic-Trial";
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 63.9375rem) {
  .mobile-hide {
    display: none !important;
  }
}
:root {
  --textColor: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 0%);
  --grey: hsl(0, 0%, 47%);
  --goldShade: hsl(50, 83%, 50%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-size: 1rem;
  scroll-behavior: smooth;
  color: var(--textColor);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.swiper {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  background-color: #1e5f50;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  width: 100%;
  z-index: 999;
}
header ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 0px;
}
header ul li {
  text-align: center;
}
header ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.8125rem;
  font-size: clamp(0.8125rem, 0.35rem + 2.3125vw, 3.125rem);
  font-family: "DrukText-Bold-Trial";
  position: relative;
}
header ul li a::after {
  border-bottom: 3px solid #00E8FF;
  position: absolute;
  left: 50%;
  content: " ";
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
  width: 0;
  height: 0;
  bottom: 0;
}
@media (orientation: portrait) {
  header ul li a::after {
    bottom: -0.3125rem;
  }
}
header ul li a:hover::after, header ul li a.active:after {
  width: 100%;
}

footer {
  background-color: #000;
  text-align: center;
  overflow: hidden;
}
footer img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 11.25rem;
  width: 11.25rem;
  margin-bottom: -1.25rem;
}
@media (orientation: portrait) {
  footer img {
    height: 7.5rem;
    width: 7.5rem;
  }
}

@media (orientation: landscape) {
  @-webkit-keyframes bounce-5 {
    0% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    10% {
      -webkit-transform: scale(1.1, 0.9) translateY(0);
              transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      -webkit-transform: scale(0.9, 1.1) translateY(-100px);
              transform: scale(0.9, 1.1) translateY(-100px);
    }
    50% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    57% {
      -webkit-transform: scale(1, 1) translateY(-7px);
              transform: scale(1, 1) translateY(-7px);
    }
    64% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    100% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
  }
  @keyframes bounce-5 {
    0% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    10% {
      -webkit-transform: scale(1.1, 0.9) translateY(0);
              transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      -webkit-transform: scale(0.9, 1.1) translateY(-100px);
              transform: scale(0.9, 1.1) translateY(-100px);
    }
    50% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    57% {
      -webkit-transform: scale(1, 1) translateY(-7px);
              transform: scale(1, 1) translateY(-7px);
    }
    64% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    100% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
  }
}
@media (orientation: portrait) {
  @-webkit-keyframes bounce-5 {
    0% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    10% {
      -webkit-transform: scale(1.1, 0.9) translateY(0);
              transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      -webkit-transform: scale(0.9, 1.1) translateY(-50px);
              transform: scale(0.9, 1.1) translateY(-50px);
    }
    50% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    57% {
      -webkit-transform: scale(1, 1) translateY(-7px);
              transform: scale(1, 1) translateY(-7px);
    }
    64% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    100% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
  }
  @keyframes bounce-5 {
    0% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    10% {
      -webkit-transform: scale(1.1, 0.9) translateY(0);
              transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      -webkit-transform: scale(0.9, 1.1) translateY(-50px);
              transform: scale(0.9, 1.1) translateY(-50px);
    }
    50% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    57% {
      -webkit-transform: scale(1, 1) translateY(-7px);
              transform: scale(1, 1) translateY(-7px);
    }
    64% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    100% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@media (orientation: portrait) {
  main .header-banner {
    margin-top: 5.625rem;
    min-height: calc(50vh - 5.625rem);
  }
  main .header-banner img:nth-of-type(1) {
    width: 80% !important;
  }
  main .header-banner img:nth-of-type(2) {
    width: 90% !important;
  }
  main .header-banner img:nth-of-type(3) {
    right: 0% !important;
    width: 30% !important;
  }
}
main {
  background-image: url("../image/background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
main section:not(:first-child) {
  position: relative;
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  overflow: hidden;
}
main .header-banner {
  margin-top: 5.625rem;
  min-height: calc(100vh - 5.625rem);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
main .header-banner img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}
main .header-banner img:nth-of-type(1) {
  width: 60%;
  height: auto;
  z-index: 2;
  display: none;
}
main .header-banner img:nth-of-type(2) {
  right: -50%;
  bottom: -9%;
  width: 50%;
  z-index: 0;
}
main .header-banner img:nth-of-type(3) {
  right: 10%;
  bottom: 220%;
  width: 20%;
  z-index: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
main .header-banner img:nth-of-type(3).bounce-5 {
  -webkit-animation-name: bounce-5;
          animation-name: bounce-5;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
main .nft-showcase {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (orientation: portrait) {
  main .nft-showcase {
    padding-top: 4.6875rem !important;
    padding-bottom: 4.6875rem !important;
  }
}
main .nft-showcase .alien-planet-nft-2 {
  display: none;
}
@media (orientation: portrait) {
  main .nft-showcase .alien-planet-nft-2 {
    display: block;
    margin-top: 1.25rem;
  }
}
main .nft-showcase .swiper .swiper-slide img {
  width: 100%;
}
main .nft-showcase .get-button {
  text-decoration: none;
  font-size: 3.125rem;
  font-size: clamp(3.125rem, 2.5rem + 3.125vw, 6.25rem);
  margin-top: 4.6875rem;
  font-family: "DrukText-Heavy-Trial";
  background-color: #edffd3;
  color: #0bb547;
  padding: 0.625rem 9.375rem 1.25rem 9.375rem;
  border-radius: 6.25rem;
  -webkit-box-shadow: #000000 10px 10px 0px;
          box-shadow: #000000 10px 10px 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (orientation: portrait) {
  main .nft-showcase .get-button {
    padding: 1.875rem 1.25rem 1.25rem 1.25rem;
    width: 90%;
  }
}
main .nft-showcase .get-button:hover {
  -webkit-box-shadow: #000000 15px 15px 0px;
          box-shadow: #000000 15px 15px 0px;
  background-color: white;
  color: #245c38;
  margin-top: 4.375rem;
}
main .story {
  min-height: 195vh !important;
}
@media (orientation: portrait) {
  main .story {
    min-height: 100vh !important;
    padding-top: 4.6875rem !important;
  }
}
main .story .container {
  z-index: 1;
}
@media (min-width: 1400px) {
  main .story .container {
    max-width: 109.375rem;
  }
}
main .story .container .story-wrapper {
  margin-top: 4.375rem;
  padding: 2%;
  background-color: hsla(85deg, 100%, 91%, 0.6);
  display: none;
}
main .story .container .story-wrapper p {
  color: #000000;
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 0.9875rem + 0.6875vw, 1.8125rem);
  line-height: 190%;
  font-family: "DrukText-Heavy-Trial";
}
main .story .container .story-wrapper p a {
  text-decoration: none;
  color: #000000;
}
main .story img {
  position: absolute;
  bottom: 0%;
  z-index: 0;
  left: -100%;
  width: 100%;
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
          filter: drop-shadow(5px 5px 5px #222);
}
main .step {
  min-height: 190vh !important;
}
@media (orientation: portrait) {
  main .step {
    min-height: 80vh !important;
  }
}
main .step .container {
  z-index: 1;
}
@media (min-width: 1400px) {
  main .step .container {
    max-width: 109.375rem;
  }
}
main .step .container .step-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 0px;
  margin-top: 7.5rem;
}
@media (orientation: portrait) {
  main .step .container .step-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
main .step .container .step-wrapper .step-content {
  text-align: center;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
main .step .container .step-wrapper .step-content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .step .container .step-wrapper .step-content button {
  margin-top: 1.5625rem;
  width: 60%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7019607843);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7019607843);
  border: 1px solid #707070;
  background-color: #EDFFD3;
  padding: 0.625rem 0.3125rem;
  font-size: 0.8333125rem;
  font-size: clamp(0.8333125rem, 0.637475rem + 0.9791875vw, 1.8125rem);
  font-family: "DrukText-Heavy-Trial";
  text-transform: uppercase;
}
@media (orientation: portrait) {
  main .step .container .step-wrapper .step-content button {
    width: 100%;
  }
}
main .step .container .step-wrapper .step-content button.bronze {
  color: #695214;
}
main .step .container .step-wrapper .step-content button.silver {
  color: #9D9D9D;
}
main .step .container .step-wrapper .step-content button.gold {
  color: #A8A42B;
}
main .step .container .step-wrapper .step-content button.diamond {
  color: #7672F6;
}
main .step .container .step-text {
  padding: 2%;
  background-color: hsla(85deg, 100%, 91%, 0.6);
  max-width: 91.875rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 3.125rem;
}
main .step .container .step-text p {
  color: #000000;
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 0.9875rem + 0.6875vw, 1.8125rem);
  line-height: 190%;
  font-family: "DrukText-Heavy-Trial";
}
main .step > img {
  position: absolute;
  bottom: 0%;
  z-index: 0;
  right: -90%;
  width: 85%;
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
          filter: drop-shadow(5px 5px 5px #222);
}
@media (orientation: portrait) {
  main .step > img {
    bottom: 0%;
    width: 120%;
  }
}
main .team {
  min-height: 160vh;
  text-align: center;
}
@media (orientation: portrait) {
  main .team {
    min-height: 70vh;
    padding-top: 4.6875rem !important;
  }
}
main .team a {
  margin-top: 4.375rem;
  display: inline-block;
}
main .team a img {
  max-width: 40.625rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (orientation: portrait) {
  main .team a img {
    width: 70%;
  }
}
main .team img.bottom-rock {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
          filter: drop-shadow(5px 5px 5px #222);
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
  position: absolute;
  bottom: -100%;
  width: 100%;
  right: 0;
  left: 0;
}